* {
    font-family: monospace;
}

input, select, button {
    margin-top: 10px;
}

fieldset {
    width: 430px;
    border-radius: 25px;
}

body {
    background-color:rgb(94, 159, 212);
    
}

.card {
    border: solid 1px;
    border-radius: 10px;
    padding: 5px;
    width: 470px;
    background-color: rgb(61, 143, 211);
    margin: 20px;
    font-size: 18px;
}

button {
    font-size: 20px;
    border-radius: 5px;
}