* {
    font-size: 18px;
}

.wrapper div {
    width: 500px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

p, button, #result table {
    margin: 10px;
}

#data {
    background: linear-gradient(navajowhite, whitesmoke);
    border: 2px solid;
}

#task {
    background-color: whitesmoke;
    border: 1px solid;
}

#result {
    background: linear-gradient(whitesmoke, papayawhip);
    border: 1px solid;
}

#result a {
    text-decoration: none;
    padding: 10px;
}
